.joinUs{
    background-color: #fff;
    z-index: -2;
    padding: 100px 0px;
}
.joinUsWrapper{
    position: relative;
    width: 80vw;
    margin: 0px auto;
    padding: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 1000px){
        width: fit-content;
        border-radius: 25px;
    }
    .background{
        position: absolute;
        top: 0px;
        z-index: 1;
        width: 100%;
        filter: brightness(50%);
        .image{
            border-bottom: 15px solid #E90041;
            border-radius: 100px;
            object-fit: cover;
            @media(max-width: 1000px){
                border-radius: 25px;
            }
        }
    }
    
    .joinUsContainer{
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        align-items: center;
        width: 100%;
        @media(max-width: 1350px){
            grid-template-columns: 1fr;
        }
        .left{
            .title{
                font-size: 2rem;
                font-size: 800;
                margin-bottom: 30px;
                color: #fff;
            }
            .content{
                font-size: 1.4rem;
                margin-bottom: 30px;
            }
        }

        .right{
            .frame{
                width: 100%;
                height: auto;
                aspect-ratio: 16/9;
            }
        }
    }
}

