.sponsorContainer{

    background-color: #171E27;
    color: #fff;
    
    .sponsors{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 100px;
        flex-wrap: wrap;

        .sponsor{
            background-color: rgb(255, 255, 255);
            color: #000;
            padding: 20px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            .image{
                width: 200px;
                height: auto;
            }

            .sponsorName{
                font-size: 1.3rem;
                font-weight: bold;
                text-transform: capitalize;
                text-align: center;
            }
        }
    }
        .title{
            font-size: 2rem;
            text-align: center;
            font-size: 800;
            margin-bottom: 30px;
        }
        .content{
            font-size: 1.4rem;
            margin-bottom: 30px;
        }

}