.button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: #E90041;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}