.topbar{
    height: 5vh;
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 100px;
    .topbarItems{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        gap: 20px;

        .tobarItem{
            font-size: 1rem;
        }
        
    }
}