@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Open+Sans:wght@300;400&family=Yantramanav:wght@300;400;500;700;900&display=swap');
*{
  margin:0;
  /* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */
font-family: 'Yantramanav', sans-serif;
}