@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Open+Sans:wght@300;400&family=Yantramanav:wght@300;400;500;700;900&display=swap');
.navbar {
    height: 10vh;
    background-color: rgb(0, 0, 0);
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    font-family: 'Yantramanav', sans-serif;
    .logo {
        border-radius: 50%;
    }

    .navItems {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;

        .navItem {
            margin: 0 20px;
            padding: 15px;

            

            ul{
                color: #ffffff;
                position: absolute;
                list-style: none;
                display: flex;
                margin-top: 20px;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                font-size: 20px;
                padding: 20px;
                background-color: rgb(0, 0, 0);
                opacity: 0;
                width: auto;
                border: 1px solid white;
                li{
                    padding:10px;
                   
                }
            }
           
          
        }
        .dropdownicon{
            color: #EE4120;
            position: absolute;
            font-size: 30px;
        }
        .navItem::after {
            display: block;
            content: "";
            border-bottom: solid 3px #EE4120;
            border-spacing: 20px;
            height: 0;
            left: 0;
            bottom: -6px;
            position: relative;
            transform: scaleX(0);
            transition: transform 450ms ease-in-out;
        }
        .navItem:hover:after {
            transform: scaleX(1);
            
        }
        .navItem::after {
            // transform-origin:100% 50%;
            transform-origin: 0% 100%;
        }
    }

    ul{
       li:nth-child(3):hover{
        ul{
            opacity: 1;
        }
       } 
    }
}
