.footer {
    background-color: #fff;
    border-top: 15px solid #E90041;
    .footerContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        @media(max-width: 700px){
            flex-direction: column;
            gap: 30px;
        }
        .logo {
            width: 200px;
            height: auto;
        }

        .col{
            .footerTitle{
                text-transform: uppercase;
                font-size: 1.2rem;
                margin-bottom: 10px;
            }

            ul{
                list-style: none;
                padding: 0;
                li{
                    cursor: pointer;
                    margin-bottom: 10px;
                    width: fit-content;
                }
                li::after {
                    display: block;
                    content: "";
                    border-bottom: solid 1px #ee4120;
                    height: 0;
                    left: 0;
                    position: relative;
                    transform: scaleX(0);
                    transition: transform 450ms ease-in-out;
                }
                li:hover:after {
                    transform: scaleX(1);
                }
                li::after {
                    // transform-origin:100% 50%;
                    transform-origin: 0% 100%;
                }
            }
        }
    }

    .credits{
        background-color: #000;
        color: #fff;
        text-align: center;
        padding: 15px 0;
        font-size: 0.9rem;
    }

    .bold{
        font-weight: bold;
    }
}
