$card-width: 400px;
.showsContainer {
    background-color: #171e27;
    width: 100%;
    margin-top: $card-width;

    .shows {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: 1350px) {
            flex-direction: column;
        }
        .show {
            margin-top: -$card-width/2;
            width: $card-width;
            @media (max-width: 1350px) {
                margin-top: 0;
            }
            @media (max-width: 400px) {
                width: 100%;
            }
            .image {
                height: $card-width;
                object-fit: contain;
            }

            .contentWrapper {
                color: #fff;
                @media (max-width: 1350px) {
                    background-color: #171e27;
                    position: relative;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 10px;
                    text-align: center;
                    margin-top: -60px;
                    margin-bottom: 60px;
                }
                .title {
                    font-size: 2rem;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
                .content {
                    font-size: 1.3rem;
                    margin-bottom: 20px;
                    @media (max-width: 1350px) {
                        display: none;
                    }
                }
            }
        }
    }
}
