$card-width: 400px;
.showsContainer {
    background-color: #fff;
    width: 100%;
    margin-top: $card-width;

    .shows {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: 1350px) {
            flex-direction: column;
        }
        .show {
            background-color: #fff;
            margin-top: -$card-width/2;
            width: $card-width;
            padding-top: 20px;
            border-radius: 50% 50% 0 0;
            @media (max-width: 1350px) {
                margin-top: 0;
            }
            @media (max-width: 400px) {
                width: 100%;
            }
            .image {
                height: 200px;
                object-fit: contain;
                border-radius: 50% 50% 0 0;
                margin-bottom: 20px;
            }

            .contentWrapper {
                color: #000;
                @media (max-width: 1350px) {
                    text-align: center;
                }
                .title {
                    font-size: 1.2rem;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                }
                .content {
                    font-size: 1rem;
                    margin-bottom: 20px;
                    @media (max-width: 1350px) {
                        display: none;
                    }
                }
            }
        }
    }
}
